@model IEnumerable<WhaTechChallenge.Models.SettledBetHistoryItem>

@{
    ViewBag.Title = "BetHistory";
}

<h2>BetHistory</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
    </tr>
}

</table>
